.container {
  background: #906cba;
  padding: 20px;
  color: black;
}

#body {
  background-color: white;
  margin-top: 10px;
  color: black;
}

#footer {
  position: relative;
  height: 40px;
  margin-top: -20px;
  clear: both;
}
#tops {
  min-height: 94%;
}
#header {
  overflow: auto;
  padding-bottom: 10px;
  margin-top: -20px;
}
